---
layout: null
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <title>Plus One</title>
    <meta name="description" content="Plus one and thumbs up gifs for use on Github or any markdown enabled input.">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
  </head>

  <body>

    <header>
      <div class="container">
          <h1>👍</h1>
          <input id='search' type='text' placeholder='Search gifs' autofocus oninput="onSearch()">
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {% for image in site.static_files %}
          {% if image.path contains 'gifs/' %}
            {% assign gif_file = image.path | split:"/" | last %}
            <a class="gif"
               data-clipboard-text='![:+1:]({{ site.github.url }}{{ image.path }} "+1")'
               data-search-text="{{ gif_file | downcase }}"
               onclick="toastr.success('Copied {{ gif_file }} to clipboard!')">
              <img src="{{ site.github.url }}/static/{{ gif_file }}"/>
            </a>
          {% endif %}
        {% endfor %}
      </section>

      <script>
        new Clipboard('.gif');

        $(function() {
          $(".gif").hover(
                  function() {
                    var image = $(this).find("img");
                    image.attr("src", image.attr("src").replace(/static\//, "gifs/"));
                  },
                  function() {
                    var image = $(this).find("img");
                    image.attr("src", image.attr("src").replace(/gifs\//, "static/"));
                  }
          );
        });

        function onSearch() {
          var search = document.getElementById('search').value.toLowerCase();

          for (var gif of document.getElementsByClassName('gif')) {
            gif.style.display = gif.getAttribute('data-search-text').includes(search) ? 'inline' : 'none';
          }
        }

      </script>
    </div>
  </body>
</html>
