body {
  margin: 0;
  padding: 0;
  background: #151515 url("../images/bkg.png") 0 0;
  color: #eaeaea;
  font: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* General & 'Reset' Stuff */

.container {
  width: 90%;
  margin: 0 auto;
}

.gif {
  width: 100%;
  height: auto;
  cursor: pointer;
}

section {
  margin: 0 0 20px 0;

  /* Prevent vertical gaps */
  line-height: 2;

  -webkit-column-width: 200px;
  -webkit-column-gap:   8px;
  -moz-column-width:    200px;
  -moz-column-gap:      8px;
  column-width:         200px;
  column-gap:           8px;
}

header {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 20px 0;
  margin: 0 0 40px 0;
}

header div {
  display: flex;
  justify-content: flex-start;
}

header h1 {
  position: absolute;
  top: 10px;
  left: 50%;
  margin: auto;

  font-size: 30px;
  line-height: 1.5;

  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

header input {
  flex: 0 1 auto;
  margin-left: auto;
}

#main_content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

section img {
  max-width: 100%
}
